.side-bar
  .user-name
    .top-items
      %p.name
        = current_user.name
      .icons
        = link_to new_group_path, class: "icons__icon" do
          %i.fa.fa-edit
          %span<>
        = link_to edit_user_path(current_user), class: "icons__icon icons__icon--cog" do
          %i.fa.fa-cog
  .group-lists
    - current_user.groups.each do |group|
      = link_to "#", class:"group-lists__group-name"  do
        = group.name
      = link_to "#", class:"group-lists__group-message"  do
        メッセージはまだありません。